section {
  /* background-image: url(./whirlpool.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
}

.poem-picture {
  width: 200px;
  padding: 15px;
}

.poem-container {
  background-color: black;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.poem-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: 'Lemonada';
  text-decoration: underline;
}

.poem-text {
  border: #003153 1px solid;
  font-size: 1.2rem;
  margin-top: 2%;
  padding-bottom: 50px;
}
.save-button {
  background-color: #003153;
  color: whitesmoke;
  padding: 10px;
  position: absolute;
  bottom: 10px;
}
.save-button:hover {
  cursor: pointer;
}

.picture-with-text {
  position: relative;
  padding: 15px;
}

.saved-confirmation {
  background-color: #003153;
  width: 25%;
  text-align: center;
}
