.signup {
  background-image: url(../../assets/whirlpool.jpeg);
  background-size: cover;
  padding: 250px;
}

#signup-box {
  background-color: #003153;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
  font-family: 'Lemonada', cursive;
}

.signup-input {
  height: 40px;
  width: 70%;
  display: block;
  border: 1px solid black;
  margin: 15px auto;
}

.signup-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: firebrick;
}

.signup-btn {
  padding: 2px;
  color: firebrick;
  background-color: black;
}

.signup-btn:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.login-text {
  text-align: center;
  font-size: 1.5rem;
  color: firebrick;
}

hr.divider {
  margin-top: 30px;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.divider:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.link-to-login {
  color: firebrick;
}
