/* navbar */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.navbar {
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
  background-color: #003153;
}

#nav-links {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: whitesmoke;
  margin: 0 15px;
  text-decoration: solid;
}

.nav-link:hover {
  text-decoration: underline;
}

#raven-image {
  width: 200px;
  transform: scale(-1, 1);
}

.image-link {
  justify-content: center;
  display: flex;
}

#title-text {
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-family: 'Lemonada', cursive;
  color: whitesmoke;
}

/* writepoem */

section {
  background-color: #003153;
  background-repeat: no-repeat;
  background-size: cover;
}

.met-painting {
  width: 80%;
  border: black 1px solid;
  margin: 0 auto;
  margin-top: 10%;
}

.poem-input {
  border: 5px solid #003153;
  background-color: #ebd5b3;
  display: block;
  margin-bottom: 10px;
  margin: 0 auto;
  font-size: 1.5rem;
  overflow: auto;
  white-space: pre-line;
  overflow-y: scroll;
}

.poet-content {
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: black;
  padding-top: 200px;
  padding-bottom: 200px;
}

.poem-write-button {
  padding: 5px;
  margin-left: 15px;
  background-color: #ebd5b3;
  border: 5px solid #003153;
}

.poem-write-button:hover {
  border: 5px solid firebrick;
  cursor: pointer;
}

.button-box {
  margin-top: 10px;
  justify-content: center;
  display: flex;
}

.poem-title-input {
  background-color: #ebd5b3;
  margin: 0 auto;
  text-align: center;
  display: block;
  margin-bottom: 5%;
  width: 50%;
  border: 5px solid #003153;
}

/* signup */

.signup {
  background-image: url(./assets/whirlpool.jpeg);
  background-size: cover;
  padding: 250px;
}

#signup-box {
  background-color: #003153;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
  font-family: 'Lemonada', cursive;
}

.signup-input {
  height: 40px;
  width: 70%;
  display: block;
  border: 1px solid black;
  margin: 15px auto;
}

.signup-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: firebrick;
}

.signup-btn {
  padding: 2px;
  color: firebrick;
  background-color: black;
}

.signup-btn:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.login-text {
  text-align: center;
  font-size: 1.5rem;
  color: firebrick;
}

hr.divider {
  margin-top: 30px;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.divider:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.link-to-login {
  color: firebrick;
}

/* login */

.login {
  background-image: url(./assets/whirlpool.jpeg);
  background-size: cover;
  padding: 250px;
}

#login-box {
  background-color: #003153;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
  font-family: 'Lemonada', cursive;
}

.login-input {
  height: 40px;
  width: 70%;
  display: block;
  border: 1px solid black;
  margin: 15px auto;
}

.login-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 15px;
  color: firebrick;
}

.login-btn {
  padding: 2px;
  color: firebrick;
  background-color: black;
}

.login-btn:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

hr.divider {
  margin-top: 30px;
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
hr.divider:before {
  /* Not really supposed to work, but does */
  display: block;
  content: '';
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}

.link-to-signup {
  color: firebrick;
}

/* savedpoems */

.page-title {
  font-size: 1.5rem;
  text-align: center;
  color: whitesmoke;
  padding-bottom: 15px;
}

.poem-picture {
  width: 200px;
  padding: 15px;
}

.poem-container {
  background-color: black;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 10px;
  color: whitesmoke;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.poem-title {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: 'Lemonada';
  text-decoration: underline;
}

.poem-text {
  border: #003153 1px solid;
  font-size: 1.2rem;
  margin-top: 2%;
  padding-bottom: 50px;
  white-space: pre-line;
}
.save-button {
  background-color: #003153;
  color: whitesmoke;
  padding: 10px;
  position: absolute;
  bottom: 10px;
}
.save-button:hover {
  cursor: pointer;
}

.picture-with-text {
  position: relative;
  padding: 15px;
}

/* poemssearch */

.saved-confirmation {
  background-color: #003153;
  width: 25%;
  text-align: center;
}

/* mypoems */

.no-poems-found {
  background-color: #003153;
  font-size: 2rem;
  color: whitesmoke;
  text-align: center;
  font-family: 'Lemonada', cursive;
}

.no-poems-wave-pic {
  width: 20%;
  display: block;
  margin: 0 auto;
}

/* landingpage */

#title-text {
  font-size: 4rem;
  align-self: center;
  text-align: center;
  font-family: 'Lemonada', cursive;
  color: whitesmoke;
}

section#about {
  background-image: url(./assets/wave.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  font-family: 'Lemonada', cursive;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 300px;
  padding-left: 20px;
}

.about-text {
  font-size: 1.75rem;
  width: 35%;
  margin: 2% 5% 0 auto;
}

/* alert */

.warning {
  background-color: red;
}

.confirm {
  background-color: blue;
}

.alert {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: whitesmoke;
  font-size: 2rem;
}

.autocompleteSearch {
  border: solid black 1px;
  background-color: grey;
  margin-left: 20%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 1200px) {
  .poet-content {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .met-painting {
    width: 48%;
    border: black 1px solid;
    margin-top: 10%;
  }

  .poem-input {
    border: 5px solid #003153;
    background-color: #ebd5b3;
    display: block;
    margin-bottom: 10px;
    margin: 0 auto;
    font-size: 1.5rem;
    overflow: auto;
    white-space: pre-line;
    overflow-y: scroll;
    width: 48%;
  }
}

@media only screen and (max-width: 850px) {
  .login {
    padding: 50px;
  }

  .signup {
    padding: 50px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: #003153;
  }

  .poem-container {
    background-color: black;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 10px;
    color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
